.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
tests
*.sqlite
database/database.sqlite
.phpunit.result.cache
.DS_Store
